:root {
    --title-color:#2E2F42;
    --main-text-color:#2E2F42;
    --second-text-color:#434455;
}
body { font-family: 'Roboto', sans-serif; color: #434455;}
 /* ----нижче убирає підчеркування-----*/
.link {text-decoration: none;}
.list {list-style-type: none;}
.header-logo {font-family: 'Raleway', sans-serif;
        /* ----нижче товщина (жирність) шрифта-----*/
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
                /* ----нижче висота рядка вимір-ся у відносних величинах вимірювання----- */
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;}

.header-logo span {color: #2E2F42;}
.header-menu {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color: #2E2F42;}

.header-menu-link :hover,
.header-menu-link :focus {color: #520404;}
         
/** -------------------Footer---------------- */
.footer-logo {
        font-family: 'Raleway';
            /* ----нижче товщина (жирність) шрифта-----*/
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            /* ----нижче висота рядка вимір-ся у відносних величинах вимірювання----- */
            line-height: 1.17;
            color: #4D5AE5;}

    .footer-logo span { color: #F4F4FD;}

            .footer-text {
                font-size: 16px;
                line-height: 1,5;
                letter-spacing: 0.02em;
                color: #F4F4FD;}
.menu { display: flex;}

/** -------------------Hero---------------- */
.hero {background-color: #2E2F42;}

.hero-title {
                font-weight: 700;
                font-size: 56px;
                line-height: 1,07;
                text-align: center;
                letter-spacing: 0.02em;
        color: #FFFFFF;}

.hero-btn {
        font-family: 'Roboto';
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
        color: #FFFFFF; }

/** -------------------Benefits------------ */
.benefits-2 {
        line-height: 1.07
}
.benefits-list {}

.benefits-item {}

.benefits-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1,2;
        letter-spacing: 0.02em;
        color: #2E2F42;}

.benefits-item-text {
        font-size: 16px;
        line-height: 1,5;
        letter-spacing: 0.02em;
        color:var(--second-text-color);}

.electronica-title {
                font-weight: 700;
                font-size: 36px;
                line-height: 1,11;
                color: #2E2F42;}

/** -------------------Team------------ */
.team {}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1,11;
        color: #2E2F42;}
.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1,2;
        color: #2E2F42;}

.team-list {}

.team-item {}

.team-item text {
        font-size: 16px;
        line-height: 1,5;
        color: var(--second-text-color);}
